<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataarray</key>
	<array>
		<dict>
			<key>name</key>
			<string>手机号码归属地查询</string>
			<key>imagename</key>
			<string>shoujihaomaguishudi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>身份证信息查询</string>
			<key>imagename</key>
			<string>shenfenzhengchaxun</string>
		</dict>
		<dict>
			<key>name</key>
			<string>天气预报</string>
			<key>imagename</key>
			<string>tianqiyubao</string>
		</dict>
		<dict>
			<key>name</key>
			<string>星座运势</string>
			<key>imagename</key>
			<string>xingzuoyunshi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>笑话大全</string>
			<key>imagename</key>
			<string>xioahuadaquan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>微信精选</string>
			<key>imagename</key>
			<string>weixinjingxuan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>QQ号码测吉凶</string>
			<key>imagename</key>
			<string>qqhaomacejixiong</string>
		</dict>
		<dict>
			<key>name</key>
			<string>历史上的今天</string>
			<key>imagename</key>
			<string>lishishangjintian</string>
		</dict>
		<dict>
			<key>name</key>
			<string>火车时刻表</string>
			<key>imagename</key>
			<string>huocheshikebiao</string>
		</dict>
		<dict>
			<key>name</key>
			<string>IP地址查询</string>
			<key>imagename</key>
			<string>ipdizhi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>NBA赛事</string>
			<key>imagename</key>
			<string>nbasaishi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>足球联赛</string>
			<key>imagename</key>
			<string>zuqiuliansai</string>
		</dict>
		<dict>
			<key>name</key>
			<string>新华字典</string>
			<key>imagename</key>
			<string>xinhuazidian</string>
		</dict>
		<dict>
			<key>name</key>
			<string>成语词典</string>
			<key>imagename</key>
			<string>chengyucidian</string>
		</dict>
		<dict>
			<key>name</key>
			<string>新闻</string>
			<key>imagename</key>
			<string>xinwen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>电影票房</string>
			<key>imagename</key>
			<string>dianyingpiaofang</string>
		</dict>
		<dict>
			<key>name</key>
			<string>货币汇率</string>
			<key>imagename</key>
			<string>huobihuilv</string>
		</dict>
		<dict>
			<key>name</key>
			<string>影视检索</string>
			<key>imagename</key>
			<string>yingshijiansuo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周公解梦</string>
			<key>imagename</key>
			<string>zhougongjiemeng</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周边WIFI</string>
			<key>imagename</key>
			<string>quanguowifi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>股票数据</string>
			<key>imagename</key>
			<string>gupiaoshuju</string>
		</dict>
	</array>
</dict>
</plist>
